# Dependencies
node_modules/

# Database
data/*.sqlite
data/*.db

# Credentials
credentials/*.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
